[Desktop Entry]
Encoding=UTF-8
Name=Link para MPI
Type=Link
URL=https://htor.inf.ethz.ch/teaching/mpi_tutorials/ppopp13/2013-02-24-ppopp-mpi-basic.pdf
Icon=text-html
